.body-profile {
    margin: 0 260px;
}

.profile-tittle {
    margin: 50px 0;
    color: #162F4A;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
}

.form-group-profile {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.form-row {
    display: flex;
    width: 100%;
    gap: 50px;
}

.full-width {
    width: 100%;
    margin: 0 auto;
}

.half-width {
    width: 50%;
}

.form-group-profile label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #004168;
    font-size: 18px;
    font-family: 'Raleway';
}

.profile-info {
    height: 55px;
    padding: 10px;
    border: 2px solid #004168;
    border-radius: 5px;
    color: #004168;
    align-content: center;
    font-size: 18px;
    font-family: 'Monserrat';
}

/* .dialog-profile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dialog-title-profile {
    font-weight: bold;
    margin-bottom: 10px;
}

.dialog-content-profile input,
.dialog-content-profile select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
}

.dialog-actions-profile {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
} */

.btn-edit-profile {
    color: white;
    background-color: #004168;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Raleway';
    border-radius: 8px;
    width: 200px;
}

.btn-edit-profile:hover {
    color: #004168;
    background-color: #EFD099;
}

.edit-content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* Responsive cho màn hình trung bình */
@media (max-width: 1024px) {
    .body-profile {
        margin: 0 100px;
    }

    .profile-tittle {
        font-size: 32px;
    }

    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    .half-width {
        width: 100%;
    }
}

/* Responsive cho màn hình nhỏ */
@media (max-width: 768px) {
    .body-profile {
        margin: 0 20px;
    }

    .profile-tittle {
        font-size: 28px;
    }

    .form-row {
        flex-direction: column;
    }

    .btn-edit-profile {
        width: 100%;
        margin-top: 35px;
    }

    .form-group-profile {
        margin-bottom: 15px;
    }
}

/* Responsive cho màn hình rất nhỏ */
@media (max-width: 480px) {
    .profile-tittle {
        font-size: 24px;
    }

    .form-group-profile label,
    .profile-info,
    .btn-edit-profile {
        font-size: 16px;
    }

    .btn-edit-profile {
        margin-top: 35px;
        padding: 8px;
        width: 100%;
    }

    .form-group-profile {
        margin-top: 20px;
        margin-bottom: 0px;
    }
}

/*--------------------------------------Dialog----------------------------------*/
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    /* Đảm bảo hộp thoại hiển thị trên mọi phần tử */
}

.dialog-content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px 40px;
    width: 600px;
    max-width: 90%; /* Đảm bảo hộp thoại không quá lớn so với màn hình */
    border: 3px solid #EFD099;
    display: flex;
    flex-direction: column;
    position: relative;
    max-height: 90vh; /* Giới hạn chiều cao để tránh tràn màn hình */
    overflow-y: auto; /* Cuộn dọc khi nội dung quá nhiều */
    overflow-x: hidden; /* Ẩn cuộn ngang */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }

.dialog-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #004168;
    margin-top: 15px;
    margin-bottom: 10px;
}

.dialog-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 2px solid #004168;
    border-radius: 5px;
    font-size: 1rem;
}


.dialog-input.date-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #004168;
    border-radius: 5px;
    font-size: 1rem;
    -webkit-appearance: none; /* Ẩn kiểu dáng mặc định trên Chrome/Safari */
    appearance: none; /* Ẩn kiểu dáng mặc định trên các trình duyệt khác */
    margin: 0 0 30px 0;
}

.dialog-submit-button {
    background-color: #004168;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway';
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.dialog-submit-button:hover {
    background-color: #EFD099;
    color: #004168;
}

.close-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2rem;
    color: #004168;
    background: none;
    border: none;
}

.close-icon:hover {
    color: #EFD099;
}